.div-users-list{
   display: flex;
   flex-direction: column;
   width: 100vw;
   justify-content: center;
}

.all-users{
  width: 40vw;
  margin-left: 5vw;
  margin-bottom: 10vh;
 

}

.each-user{
  margin-top: 0.6vh;
}




.hr-list{

    width: 100vw;
    
}

.div-all-pets{
  width: 100vw;
  flex-direction: column;
  align-items: center;
  display: flex
}

.h1-all-pets{
  margin-top: 10vh;
  font-family: "Montserrat" !important;

}

.result-pet-list{
  margin-bottom: 15vh !important;
  width: 60vw;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(40vh, auto); /* Adjust the minimum height as needed */
  gap: 5%;
  max-width: 60vw;
  margin: 0 auto;
  transition: 0.3s;
   
  }
  

.addpet-button{
   height: 7vh;
   width: 15vw;
   font-family: "Montserrat";
   border-radius: 5px!important;
   background-color: #87CEEB;
   margin-top: 1%;
   margin-left: 84%;
}



@media (max-width: 1200px) {
  .result-pet-list {
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr)); /* Adjust for smaller screens */
    gap: 1% 5%;
  
    margin-right: 15vw ;
    margin-left: 15vw;
    margin-bottom: 0;
    font-size: 8px;
  }

  .addpet-button{
 
      width: 30vw; /* Adjust button width for smaller screens */
      font-size: 14px; /* Adjust font size for smaller screens */
      margin-bottom: 10vh;
     }

  .button-responsive{
    width: 100vw ;
    overflow: auto;
  }
}